
.CommentTitle{
    color: white;
}

.CommentSection{
    margin-top: 7%;
    margin-bottom: 10%;
}

.msgTime{
    text-align: left;
    color: white;
    font-size: 15px;
    margin-top: 2.5px;
    margin-left: 15px;
    font-weight: bold;


}

.msgText{
    color: white;
    text-align: left;
    margin-top: 2%;

}
.enterMe{
    width: 25%;
}
.comentbutton{
    width: 30%;

}

.buttoncomment{
    border: 2px solid white;
}

.emoji{
    margin-top: 40% !important;
    /* text-align: right !important; */
}
.setUsers{
    color: white !important;
    font-weight: bold;
    font-size: 1.4em;
    
}

.new1{
    border-top: 1px solid white;

}
.righter{
    text-align: left !important;
}
.msgboard{
    border: 1px solid white;
    /* padding: 5px; */
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 19%; */

}
.CommentTitle{
    margin-bottom: 4%;
}

/* .CommentSection2{
    margin-top: 4%;
} */

.msgUsername{
    color: white;
}

.msgTimeContainer{
    background-color: #4f74c8;
    padding: 1px;

}
.sss{
    border: 1px solid whitesmoke;
   

}

.Imgandcomment{
    margin-top: 20px;
}