body {
    margin: 0;
    /* height: 90vh; */
    background-color: white;
}

.musicSearch{
    color: white !important;
}

.navbar-form{
	width: 50%;
	margin: 0 auto;
}


.music-container{
    margin-top: 7%;
}

.btn-secondary{
	background-color: #7300e6;
}

.form-control:focus {
	border: 2px solid  #7300e6;
	/* box-shadow: #7300e6 ; */
	box-shadow: none;


  }



  .profile{
      color: white;
      border: 3px solid white;

       margin-top: 4% !important;
       margin-left:  auto;
       margin-right:  auto;


     
      


  }

  .info{
      color: white;
  }


  .artistRes{
      border-radius: 100;
  }



  .noResults{
    font-family:"Passion One",sans-serif !important;
    color:#fff !important;
    font-size:5rem !important;
	margin-top: 3rem !important;
    margin-bottom:2% !important;
    text-align: center !important;
}

.noResults{
    font-size:3rem !important;

}

#noResultImg{
    border: 2px solid white;
    margin-bottom: 20%;
}

.trackTitle{
    color: white;
}

.trackStyling{
    width: 250px;
    height: 250px;
    position: relative;
    margin: 40px;
    cursor: pointer;
    display: inline-block;
}

.trackImage{
    width: 250px;
    height: 250px;
    
}

.trackImage:hover{
    border: 4px solid greenyellow;
}